.servicesPageDiv{
    height: 100vh;
    background-color: #F66D6D;
    padding: 1vw;
    padding-top: 2vw;
}
.section1{
    color: rgb(44, 34, 34);
    margin: 1vw;
    font-size: 1.5vw;
}

.section2{
    font-size: 1.5vw;
    font-weight: 600;
    margin: 1vw;
}